@font-face {
	font-family: myFont;
	src: url(./font/Gilroy-Regular.woff);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: myFont;
	font-size: 22px;
}
body {
	background-color: #34006a;
	color: white;
}
nav {
	display: flex;
	padding: 1rem;
	position: relative;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}
.burger {
	display: none;
	align-self: center;
	div {
		width: 25px;
		height: 3px;
		margin: 5px;
		background-color: white;
	}
}
.header {
	font-weight: bold;
	width: 2px;
	cursor: pointer;
	span {
		margin: 15px;
	}
}
.mark {
	font-size: 24px;
	font-weight: bolder;
}
ul {
	display: flex;
	list-style: none;
	li {
		margin-left: 1rem;
		cursor: pointer;
		display: inline-block;
		a {
			text-decoration: none;
			color: white;
			font-size: 22px;
			transition: 0.2s ease-in;
		}
	}
}
main {
	z-index: 0;
	position: relative;
	color: black;
	min-height: 60%;
	margin-top: 5%;
	width: 95%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	border-radius: 20px;
	h1 {
		padding-top: 0.5rem;
		font-size: 33px;
		text-align: center;
	}
	h2 {
		padding-top: 0.5rem;
		font-size: 28px;
		text-align: center;
		margin-bottom: 25px;
	}
	p {
		padding: 1rem;
	}
	a {
		position: relative;
		font-size: 16px;
		margin-top: 25px;
		left: 50%;
		transform: translateX(-50%);
		display: inline-block;
		text-decoration: none;
		font-weight: bolder;
		color: black;
		cursor: pointer;
		text-align: center;
		padding: 15px 32px;
		border: 1px solid black;
		border-radius: 20px;
		transition: ease-out 0.3s;
		&:hover {
			background-color: #34006a;
			color: white;
			font-weight: bolder;
			outline: none;
			border: 1px solid #34006a;
		}
	}
}
.balance {
	display: flex;
	justify-content: space-around;
	img {
		width: 100px;
		height: 100px;
		display: block;
		color: white;
	}
}
.balance_item {
	display: flex;
	flex-direction: column;
}
#income {
	color: lightgreen;
	font-weight: bolder;
	margin-top: 20px;
	margin-left: -20px;
}
#balance {
	color: orange;
	font-weight: bolder;
	margin-top: 20px;
	margin-left: -20px;
}
#expences {
	color: red;
	font-weight: bolder;
	margin-top: 20px;
	margin-left: -20px;
}
.action {
	padding: 1rem;
	form {
		input[type="text"] {
			width: 50%;
			border: none;
			outline: none;
		}
		input[type="submit"] {
			width: 35px;
			height: 35px;
			margin-top: 10px;
			border: none;
			background-color: transparent;
			font-size: 32px;
			cursor: pointer;
			background-color: #a97bda;
		}
		label {
			display: flex;
			width: 100%;
			justify-content: space-between;
		}
	}
}
.actions_header {
	margin: 1.5rem;
	display: flex;
	justify-content: space-between;
	div {
		font-weight: bolder;
	}
}
.action_item {
	width: 100%;
	padding: 5px;
	border-bottom: 1px dotted black;
	display: flex;
	justify-content: space-between;
	div {
		display: flex;
		flex-direction: row;
	}
	img {
		cursor: pointer;
		margin-left: 0.5rem;
	}
}
.actions {
	form {
		width: 100%;
		padding: 5px;
		border-bottom: 1px dotted black;
		display: flex;
		justify-content: space-between;
	}
}
input[type="number"] {
	border: none;
	outline: none;
}
input {
	&:focus {
		border: none;
		outline: none;
	}
}
.currency_form {
	font-family: myFont;
	display: flex;
	text-align: center;
	padding: 5rem;
	flex-direction: column;
	position: relative;
	label {
		margin-bottom: 1rem;
	}
	input[type="text"] {
		border: none;
		outline: none;
	}
	input[type="submit"] {
		background-color: white;
		display: inline-block;
		font-weight: bolder;
		color: black;
		cursor: pointer;
		text-align: center;
		padding: 5px 10px;
		border: 1px solid black;
		border-radius: 10px;
		transition: ease-out 0.3s;
		&:hover {
			background-color: #34006a;
			color: white;
			font-weight: bolder;
			outline: none;
			border: 1px solid #34006a;
		}
	}
}
select {
	option {
		font-size: 16px;
	}
	font-size: 16px;
}
@media (max-width:480px) {
	* {
		font-size: 18px;
	}
	main {
		width: 100%;
		a {
			font-size: 14px;
		}
	}
}
@media (max-width:650px) {
	.nav_items {
		width: 100%;
		position: absolute;
		right: 0px;
		height: 110vh;
		top: 5rem;
		background-color: rgb(157, 60, 187);
		color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.25s ease-in;
		ul {
			flex-direction: column;
			li {
				padding: 1.5rem;
				padding-bottom: 4rem;
			}
		}
	}
	.burger {
		display: block;
		cursor: pointer;
	}
	.nav_active {
		transform: translateX(0%);
	}
}
